@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|Saira+Stencil+One&display=swap&effect=ice');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
.a{
  font-family: 'Saira Stencil One', cursive;
  font-size: 40px;
  letter-spacing:2px;
  word-spacing: 0;
  margin-left: 0;
  margin-right: 0;
  /* border: 2px solid red; */
}
.logo .t , .logo .o , .logo .n2
{ position :relative;
  left:-13px;
  font-family: 'Lobster', cursive;
  /* border: 2px solid red; */
  margin-left: 0;
  margin-right: 0;
}
.logo-class
{
  background-image:linear-gradient(to right, lavender , white);
  height:100px;
}
.no-padd-lr{
  padding-left: 0px;
  padding-right: 0px;
}
.no-mar-lr{
  margin-left:0px;
  margin-right:0px;
}
h1
{
  text-align:center;
  margin-bottom: 0;
}
.tagline
{
  margin-top: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color:#FFC312;
}
.search-container
{
  height:20px;
  margin-top: 30px;
}

.input-brdr{
  border-right-width: 0px;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
}
.search-btn{
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
  border-left-width:0px;
  background-color:#c6faec;
}
.search-btn:hover{
  background-color: aqua;
}
table#curr_table_1 tr td{
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  }

.tbl{
  width:100%;
  }
.tbl-row{
 border: 0px solid grey;
}
.tbl-cell{
  padding:0px;
  border:0px solid grey;
  padding-top:0.75rem;
  padding-bottom:0.75rem;
  border-bottom-width:1px;
  border-right-width: 0px;
  text-align: center;
}
.tbl-cell:hover{
  background-color: rgb(218, 238, 245);
}
@media only screen and (max-width: 575px) {
  
  .table td,.table th{
    font-size:3rem;
  }

}  
.current-col{
  background-image:linear-gradient(to left, lavender, white);
  /* height:100px; */
}


/*3 cards row */
.cards-row{
  margin-top:5vh;
  padding:0px;
}
.card-img{
  max-width: 100%;
  display:block;
  margin:auto;
}
.img-container{
  position:relative;
  
}
.img-text{
  text-align: right;
  position: absolute;
  bottom:0px;
  right:0px;
  font-size:4rem;
}
.img-text p{
  margin-bottom: 0rem;
}


.scroll{
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0px;


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(255,0,0,0.4);
}

.brdr-right{
  border: 0px solid gray;
  border-right-width:1px;
}
.brdr
{
  border:2px solid red;
}
.table-custom
{
  margin:0;
}
.no-pad{
  padding: 0;

}
.no-mar
{
  margin:0;

}


